$font-style:'Inter', sans-serif;
.app-container{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 80px;
    width: 300px;
    height: 450px;
    background-color:#f5fefe;
    border:0px;
    border-radius: 30px;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.temp-display{
    display: flex;
    margin: 50px;
    border-radius: 50%;
    color:#211f1c;
    width: 200px;
    height: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family:$font-style;
    font-weight: 500px;
    border: 3px #44413c solid;
    transition: background 2.5s;
}
button{
    border-radius: 100px;
    height: 80px;
    width: 80px;
    font-size: 32px;
    color: #211f1c;
    font-family:$font-style;
    cursor: pointer;margin: 20px;
    border:0px;
    border-radius:50%;
}
.container-btn{
    display: flex;
    margin:10px 0px;
    justify-content: space-evenly;
    align-items:center ;
}
.hot-btn{
    
    background-color:#f7dcdc
}
.hot-btn:hover{
    background-color:#f6cbcb;
    
   
}
.cold-btn{
    background-color: #d3f0f6;
}
.cold-btn:hover{
        background-color:#a8e4f0;
}
.hot{
    background-color: #e6ac79;
}
.cold{
    background-color: #a4ecfb;
}